// Namespaces
$mbm-objs-container-namespace: "container" !default;

// Options
$mbm-objs-container-size-default: 1200px !default;
$mbm-objs-container-size-extra: () !default;

$mbm-objs-container-gap-default: $mbm-global-gap-default !default;
$mbm-objs-container-gap-extra: () !default;

@import "../modules/mbm-objs-container/objects.container";
