/**
 * Enable / Disable aligment modifiers.
 * .o-grid--right : Align columns on right horizontally
 * .o-grid--center : Align columns on center horizontally
 * .o-grid--middle : Align columns on middle vertically
 * .o-grid--bottom : Align columns on bottom vertically
 *
 * Type: Boolean
 */

$mbm-objs-grid-aligned: false;

/**
  * Enable / Disable reversed modifier
  * .o-grid--rev : Reverse columns order
  *
  * Type: Boolean
  */

$mbm-objs-grid-rev: false;

/**
  * Default gutter size. Use a number for a single size or
  * a map for a responsive size.
  *
  * Type: Number / Map 
  */

$mbm-objs-grid-gutter-default: $mbm-global-gutter-default;

/**
  * Extra gutters map. Each gutter size will be available as a
  * modifier that will be named according to the gutter name.
  * Each gutter size will be available as a modifier that will
  * be named according to the gutter name.
  * E.g. If $mbm-objs-grid-gutter-extra: ('compact': '10px');
  * then .o-grid--compact will be available for use.
  *
  * Type: Map
  */

$mbm-objs-grid-gutter-extra: ();

/**
  * Enable / Disable flexbox on grid.
  * 
  * Type: Boolean
  */

$mbm-objs-grid-flex: $mbm-global-flex;

/**
  * Enable / Disable equal height modifier .o-grid--equal-height.
  * Works only if $mbm-obj-grid-flex is enabled.
  *
  * Type: Boolean
  */

$mbm-objs-grid-equal-height: false;

/**
  * Namespace classes
  *
  * Type: String
  */

$mbm-objs-grid-namespace: "grid";
$mbm-objs-grid-cell-name: "cell";
$mbm-objs-grid-align-name-right: "right";
$mbm-objs-grid-align-name-center: "center";
$mbm-objs-grid-align-name-top: "top";

@import "../modules/mbm-objs-grid/objects.grid";
