$mbm-objs-grid-aligned: false !default;
$mbm-objs-grid-rev: false !default;

// Namespaces
$mbm-objs-grid-namespace: "grid";
$mbm-objs-grid-cell-name: "cell";
$mbm-objs-grid-name-gap: "-gap";

$mbm-objs-grid-align-name-right: "right";
$mbm-objs-grid-align-name-center: "center";
$mbm-objs-grid-align-name-top: "top";
$mbm-objs-grid-align-name-middle: "middle";
$mbm-objs-grid-align-name-bottom: "bottom";
$mbm-objs-grid-align-name-around: "around";
$mbm-objs-grid-align-name-between: "between";
$mbm-objs-grid-align-name-reverse: "rev";

// Options
$mbm-objs-grid-gap-default: $mbm-global-gap-default !default;
$mbm-objs-grid-gap-extra: $spacing-extra !default;

@import "../modules/mbm-objs-grid/objects.grid";
