$mbm-objs-media-rev: true;
$mbm-objs-media-res: true;

// Namespaces
$mbm-objs-media-namespace: "media";
$mbm-objs-media-name-gap: "-gap";
$mbm-objs-media-name-fixed: "fixed";
$mbm-objs-media-name-fluid: "fluid";
$mbm-objs-media-name-responsive: "res";
$mbm-objs-media-name-reversed: "rev";

$mbm-objs-media-collapse-at: 767px;

// Options
$mbm-objs-media-gap-default: $mbm-global-gap-default;
$mbm-objs-media-gap-extra: $spacing-extra;

@import "../modules/mbm-objs-media/objects.media";
