/**
 * Enable / Disable breakpoint specific classes
 *
 * Type: Boolean
 */

$mbm-utils-align-res: $mbm-global-res;

/**
  * Override breakpoints map only for align utility
  *
  * Type: Type: Map
  */

$mbm-utils-align-breakpoints: $mbm-global-breakpoints;

/**
  * Namespace classes
  *
  * Type: String
  */
$mbm-utils-align-namespace: "align-";
$mbm-utils-align-name-top: "top";
$mbm-utils-align-name-bottom: "bottom";
$mbm-utils-align-name-middle: "middle";
$mbm-utils-align-name-baseline: "baseline";

@import "../modules/mbm-utils-align/utilities.align";
