// Options
$mbm-utils-align-item-res: false !default;
$mbm-utils-align-item-breakpoints: $mbm-global-breakpoints !default;

// Namespaces
$mbm-utils-align-item-namespace: "ai-" !default;
$mbm-utils-align-item-name-start: "start" !default;
$mbm-utils-align-item-name-end: "end" !default;
$mbm-utils-align-item-name-center: "center" !default;
$mbm-utils-align-item-name-stretch: "stretch" !default;
$mbm-utils-align-item-name-baseline: "baseline" !default;

@import "../modules/mbm-utils-align-items/utilities.align-items";
