// Options
$mbm-utils-align-res: false !default;
$mbm-utils-align-breakpoints: $mbm-global-breakpoints !default;

// Namespaces
$mbm-utils-align-namespace: "align-" !default;
$mbm-utils-align-name-top: "top" !default;
$mbm-utils-align-name-bottom: "bottom" !default;
$mbm-utils-align-name-middle: "middle" !default;
$mbm-utils-align-name-baseline: "baseline" !default;

@import "../modules/mbm-utils-align/utilities.align";
