$mbm-utils-bgcolor: true;

// Namespaces
$mbm-utils-bgcolor-namespace: "bgcolor-" !default;

// Options
$mbm-utils-bgcolor-names: $color-list !default;

@import "../modules/mbm-utils-bgcolor/utilities.bgcolor";
