// Namespaces
$mbm-utils-display-namespace: "";
$mbm-utils-display-name-flex: "flex";
$mbm-utils-display-name-block: "block";
$mbm-utils-display-name-hidden: "hidden";
$mbm-utils-display-name-inline: "inline";
$mbm-utils-display-name-inline-block: "inline-block";
$mbm-utils-display-name-visually-hidden: "visually-hidden";

// Options
$mbm-utils-display-res: true;
$mbm-utils-display-breakpoints: $mbm-global-breakpoints;

@import "../modules/mbm-utils-display/utilities.display";
