// Namespaces
$mbm-utils-flex-direction-namespace: "fd-" !default;
$mbm-utils-flex-direction-name-row: "row" !default;
$mbm-utils-flex-direction-name-row-reverse: "row-reverse" !default;
$mbm-utils-flex-direction-name-column: "col" !default;
$mbm-utils-flex-direction-name-column-reverse: "col-reverse" !default;

// Options
$mbm-utils-flex-direction-res: false !default;
$mbm-utils-flex-direction-breakpoints: $mbm-global-breakpoints !default;

@import "../modules/mbm-utils-flex-direction/utilities.flex-direction";
