// Namespaces
$mbm-utils-float-namespace: "float-" !default;
$mbm-utils-float-name-left: "left" !default;
$mbm-utils-float-name-right: "right" !default;

// Options
$mbm-utils-float-res: false !default;
$mbm-utils-float-breakpoints: $mbm-global-breakpoints !default;

@import "../modules/mbm-utils-float/utilities.float";
