/**
 * Namespace classes
 *
 * Type: String
 */

$mbm-utils-pull-namespace: "pull-";

/**
  * Size delimiter. Defaults to \/. Ex: .u-pull-1/3
  *
  * Type: String
  */

$mbm-utils-pull-delimiter: $mbm-global-delimiter;

/**
  * Columns to populate pull utility for
  *
  * Type: Unitless Number / List
  */

$mbm-utils-pull-columns: $mbm-global-columns;

/**
  * Enables / Disables breakpoint specific classes
  *
  * Type: Boolean
  */

$mbm-utils-pull-res: $mbm-global-res;

/**
  * Breakpoints map. Allows you to create breakpoints only
  * for the pull responsive utility.
  *
  * Type: Map
  */

$mbm-utils-pull-breakpoints: $mbm-global-breakpoints;

@import "../modules/mbm-utils-pull/utilities.pull";
