// Namespaces
$mbm-utils-text-namespace: "text-" !default;
$mbm-utils-text-name-left: "left" !default;
$mbm-utils-text-name-right: "right" !default;
$mbm-utils-text-name-center: "center" !default;

// Options
$mbm-utils-text-res: true !default;
$mbm-utils-text-breakpoints: $mbm-global-breakpoints !default;

@import "../modules/mbm-utils-text/utilities.text";
