// Namespaces
$mbm-utils-transform-namespace: "" !default;
$mbm-utils-transform-name-capitalize: "capitalize" !default;
$mbm-utils-transform-name-uppercase: "uppercase" !default;
$mbm-utils-transform-name-lowercase: "lowercase" !default;

// Options
$mbm-utils-transform-res: false !default;
$mbm-utils-transform-breakpoints: $mbm-global-breakpoints !default;

@import "../modules/mbm-utils-transform/utilities.transform";
