// Options

$mbm-utils-color: true;

$mbm-utils-color-namespace: "color-" !default;

$mbm-utils-color-names: () !default;

// Background Color Utilitie namespace variable(s)
$mbm-utils-color-var: $mbm-global-utilities-namespace +
    $mbm-utils-color-namespace;

// Background Color Utilities
@each $color-name, $color-value in $mbm-utils-color-names {
    .#{$mbm-utils-color-var + $color-name} {
        color: #{$color-value} !important;
    }
}
