$mbm-objs-media: true !default;

$mbm-objs-media-rev: false !default;
$mbm-objs-media-res: false !default;

// Namespaces
$mbm-objs-media-namespace: "media" !default;
$mbm-objs-media-name-gap: "-gap" !default;
$mbm-objs-media-name-fixed: "fixed" !default;
$mbm-objs-media-name-fluid: "fluid" !default;
$mbm-objs-media-name-responsive: "res" !default;
$mbm-objs-media-name-reversed: "rev" !default;

$mbm-objs-media-collapse-at: 767px !default;

// Options
$mbm-objs-media-gap-default: $mbm-global-gap-default !default;
$mbm-objs-media-gap-extra: () !default;

// Namespaces variables
$mbm-objs-media-var: $mbm-global-objects-namespace + $mbm-objs-media-namespace;
$mbm-objs-media-fixed-var: $mbm-objs-media-var + "__" +
	$mbm-objs-media-name-fixed;
$mbm-objs-media-fluid-var: $mbm-objs-media-var + "__" +
	$mbm-objs-media-name-fluid;

$mbm-objs-media-mod-var: $mbm-objs-media-var + "--";

//
//
//

.#{$mbm-objs-media-var} {
	display: flex;
	align-items: flex-start;

	& > .#{$mbm-objs-media-fixed-var} {
		margin: 0 $mbm-objs-media-gap-default 0 0;
	}

	& > .#{$mbm-objs-media-fluid-var} {
		flex: 1;
	}
}

@each $gap-name, $gap-value in $mbm-objs-media-gap-extra {
	.#{$mbm-objs-media-var}#{$mbm-objs-media-name-gap}#{$gap-name} {
		& > .#{$mbm-objs-media-fixed-var} {
			margin: 0 $gap-value 0 0;
		}
	}
}

@if ($mbm-objs-media-rev == true) {
	.#{$mbm-objs-media-mod-var}#{$mbm-objs-media-name-reversed} {
		flex-direction: row-reverse;

		& > .#{$mbm-objs-media-fixed-var} {
			margin: 0 0 0 $mbm-objs-media-gap-default;
		}
	}

	.#{$mbm-objs-media-mod-var}#{$mbm-objs-media-name-reversed} {
		@each $gap-name, $gap-value in $mbm-objs-media-gap-extra {
			&.#{$mbm-objs-media-var}#{$mbm-objs-media-name-gap}#{$gap-name} {
				& > .#{$mbm-objs-media-fixed-var} {
					margin: 0 0 0 $gap-value;
				}
			}
		}
	}
}

@if ($mbm-objs-media-res == true) {
	@media screen and (max-width: $mbm-objs-media-collapse-at) {
		.#{$mbm-objs-media-mod-var}#{$mbm-objs-media-name-responsive} {
			display: block;

			& > .#{$mbm-objs-media-fixed-var},
			& > .#{$mbm-objs-media-fluid-var} {
				display: block;
				width: 100%;
				margin: 0 !important;
			}

			& > .#{$mbm-objs-media-fixed-var} {
				margin-bottom: $mbm-global-gap-default;
			}
		}
	}
}
