// Options

$mbm-utils-padding: true;

$mbm-utils-padding-namespace: "p" !default;
$mbm-utils-padding-name-top: "t" !default;
$mbm-utils-padding-name-right: "r" !default;
$mbm-utils-padding-name-bottom: "b" !default;
$mbm-utils-padding-name-left: "l" !default;
$mbm-utils-padding-name-vertical: "v" !default;
$mbm-utils-padding-name-horizontal: "h" !default;

$mbm-utils-padding-default: $mbm-global-gutter-default !default;
$mbm-utils-padding-extra: () !default;

$mbm-utils-padding-res: false !default;
$mbm-utils-padding-breakpoints: $mbm-global-breakpoints !default;

// Padding Utilities
@include _mbm-generate-spacing(
    padding,
    $mbm-utils-padding-default,
    $mbm-utils-padding-extra,
    $mbm-utils-padding-namespace,
    $mbm-utils-padding-name-top,
    $mbm-utils-padding-name-right,
    $mbm-utils-padding-name-bottom,
    $mbm-utils-padding-name-left,
    $mbm-utils-padding-name-vertical,
    $mbm-utils-padding-name-horizontal,
    $mbm-utils-padding-res,
    $mbm-utils-padding-breakpoints
);
