$mbm-baseline: 8px !default;

$baseline-x2: $mbm-baseline * 2;
$baseline-x3: $mbm-baseline * 3;
$baseline-x4: $mbm-baseline * 4;
$baseline-x5: $mbm-baseline * 5;
$baseline-x6: $mbm-baseline * 6;
$baseline-x7: $mbm-baseline * 7;
$baseline-x8: $mbm-baseline * 8;
$baseline-x9: $mbm-baseline * 9;
$baseline-x10: $mbm-baseline * 10;
$baseline-x11: $mbm-baseline * 11;
$baseline-x12: $mbm-baseline * 12;
$baseline-x13: $mbm-baseline * 13;
