$mbm-objs-grid: true;

$mbm-objs-grid-aligned: false !default;
$mbm-objs-grid-rev: false !default;
//$mbm-objs-grid-equal-height: false !default;

// Namespaces
$mbm-objs-grid-namespace: "grid" !default;
$mbm-objs-grid-cell-name: "cell" !default;
$mbm-objs-grid-name-gap: "-gap" !default;

$mbm-objs-grid-align-name-right: "right" !default;
$mbm-objs-grid-align-name-center: "center" !default;
$mbm-objs-grid-align-name-top: "top" !default;
$mbm-objs-grid-align-name-middle: "middle" !default;
$mbm-objs-grid-align-name-bottom: "bottom" !default;
$mbm-objs-grid-align-name-around: "around" !default;
$mbm-objs-grid-align-name-between: "between" !default;
$mbm-objs-grid-align-name-reverse: "rev" !default;
// $mbm-objs-grid-align-name-equal-height: "equal-height" !default;

// Options
$mbm-objs-grid-gap-default: $mbm-global-gap-default !default;
$mbm-objs-grid-gap-extra: () !default;

// Grid Object namespace variable(s)
$mbm-objs-grid-var: $mbm-global-objects-namespace + $mbm-objs-grid-namespace;
$mbm-objs-grid-cell-var: $mbm-objs-grid-var + "__" + $mbm-objs-grid-cell-name;
$mbm-objs-grid-var-mod: $mbm-objs-grid-var + "--";

//
// Grid Object Core
//

// Grid Classes
.#{$mbm-objs-grid-var} {
	display: flex;
	flex-flow: row wrap;

	& > .#{$mbm-objs-grid-cell-var} {
		width: auto;
	}
}

// Grid gaps
@each $gap-name, $gap-value in $mbm-objs-grid-gap-extra {
	.#{$mbm-objs-grid-var}#{$mbm-objs-grid-name-gap}#{$gap-name} {
		margin-left: -$gap-value;

		& > .#{$mbm-objs-grid-cell-var} {
			padding-left: $gap-value;
		}
	}
}

// Grid alignment classes

@if ($mbm-objs-grid-aligned == true) {
	.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-center} {
		justify-content: center;
	}

	.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-right} {
		justify-content: flex-end;
	}

	.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-top} {
		align-items: flex-start;
	}

	.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-middle} {
		align-items: center;
	}

	.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-bottom} {
		align-items: flex-end;
	}

	.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-around} {
		justify-content: space-around;
	}

	.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-between} {
		justify-content: space-between;
	}

	// Grid Object Flex Reverse
	@if ($mbm-objs-grid-rev == true) {
		.#{$mbm-objs-grid-var-mod + $mbm-objs-grid-align-name-reverse} {
			flex-direction: row-reverse;
		}
	}
}
