$mbm-utils-size: true;

// Namespaces
$mbm-utils-size-namespace: "" !default;

// Options
$mbm-utils-size-res: false !default;
$mbm-utils-size-columns: $mbm-global-columns !default;
$mbm-utils-size-delimiter: $mbm-global-delimiter !default;
$mbm-utils-size-breakpoints: $mbm-global-breakpoints !default;

// Namespace Variables
$mbm-utils-size-var: $mbm-global-utilities-namespace + $mbm-utils-size-namespace;

//
// Size Utilities Classes
//

// Size classes
@each $column-size in $mbm-utils-size-columns {
	@for $i from 1 through $column-size {
		.#{$mbm-utils-size-var
			+ $i
			+ $mbm-utils-size-delimiter
			+ $column-size} {
			//flex: 0 1 ((100 / $column-size) * $i) * 1% !important;
			width: ((100 / $column-size) * $i) * 1% !important;
		}
	}
}

// Responsive Size classes
@each $breakpoint-name, $breakpoint-size in $mbm-utils-size-breakpoints {
	@media #{$breakpoint-size} {
		@each $column-size in $mbm-utils-size-columns {
			@for $i from 1 through $column-size {
				.#{$mbm-utils-size-var
					+ $i
					+ $mbm-utils-size-delimiter
					+ $column-size
					+ $mbm-global-breakpoint-separator
					+ $breakpoint-name} {
					//flex: 0 1 ((100 / $column-size) * $i) * 1% !important;
					width: ((100 / $column-size) * $i) * 1% !important;
				}
			}
		}
	}
}
