$mbm-objs-container: true;

// Namespaces
$mbm-objs-container-namespace: "container" !default;

// Options
$mbm-objs-container-size-default: 1200px !default;
$mbm-objs-container-size-extra: () !default;

$mbm-objs-container-gap-default: $mbm-global-gap-default !default;
$mbm-objs-container-gap-extra: () !default;

// Namespace Variables
$mbm-objs-container-var: $mbm-global-objects-namespace +
	$mbm-objs-container-namespace;
$mbm-objs-container-mod-var: $mbm-objs-container-var + "--";

//
// Container Object Classes
//

// Container object core
.#{$mbm-objs-container-var} {
	margin-left: auto;
	margin-right: auto;
	padding-left: $mbm-objs-container-gap-default;
	padding-right: $mbm-objs-container-gap-default;
	max-width: $mbm-objs-container-size-default;
}

// Extra size classes
@each $size-name, $size-value in $mbm-objs-container-size-extra {
	.#{$mbm-objs-container-var + quote($size-name)} {
		max-width: $size-value;
	}
}

// Extra gap classes
@each $gap-name, $gap-size in $mbm-objs-container-gap-extra {
	.#{$mbm-objs-container-var + quote($gap-name)} {
		padding-left: $gap-size;
		padding-right: $gap-size;
	}
}
