// Options

$mbm-utils-transform: true;

$mbm-utils-transform-namespace: "" !default;
$mbm-utils-transform-name-capitalize: "capitalize" !default;
$mbm-utils-transform-name-uppercase: "uppercase" !default;
$mbm-utils-transform-name-lowercase: "lowercase" !default;

$mbm-utils-transform-res: false !default;
$mbm-utils-transform-breakpoints: $mbm-global-breakpoints !default;

// Transform Utilities namespace variable(s)
$mbm-utils-transform-var: $mbm-global-utilities-namespace +
    $mbm-utils-transform-namespace;

// Transform Utilities
.#{$mbm-utils-transform-var + $mbm-utils-transform-name-capitalize} {
    text-transform: capitalize !important;
}

.#{$mbm-utils-transform-var + $mbm-utils-transform-name-uppercase} {
    text-transform: uppercase !important;
}

.#{$mbm-utils-transform-var + $mbm-utils-transform-name-lowercase} {
    text-transform: lowercase !important;
}

// Responsive Transform Utilities
@if ($mbm-utils-transform-res == true) {
    @each $breakpoint-name, $breakpoint-size in $mbm-utils-transform-breakpoints
    {
        @media #{$breakpoint-size} {
            .#{$mbm-utils-transform-var
                + $mbm-utils-transform-name-capitalize
                + $mbm-global-breakpoint-separator
                + $breakpoint-name} {
                text-transform: capitalize !important;
            }

            .#{$mbm-utils-transform-var
                + $mbm-utils-transform-name-uppercase
                + $mbm-global-breakpoint-separator
                + $breakpoint-name} {
                text-transform: uppercase !important;
            }

            .#{$mbm-utils-transform-var
                + $mbm-utils-transform-name-lowercase
                + $mbm-global-breakpoint-separator
                + $breakpoint-name} {
                text-transform: lowercase !important;
            }
        }
    }
}
