/**
 * A modern and minimal reset
 */

$mbm-base-initialize: true;

// Options

$mbm-base-initialize-box-sizing: "border-box" !default;
$mbm-base-initialize-text-rendering: "optimizeSpeed" !default;

$mbm-base-initialize-heading-size: false !default;

// Initialize reset

/* Box-sizing rules */
*,
*::before,
*::after {
	box-sizing: #{$mbm-base-initialize-box-sizing};
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	text-rendering: #{$mbm-base-initialize-text-rendering};
	min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/*  Make images easier to work with */
img {
	max-width: 100%;
	display: block;
	vertical-align: middle;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Removes default border */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	border: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/**
 * Sets heading font-size to be equal to the content font-size. Encourages
 * the use of different heading elements to define the position of the heading
 * in the document and not the heading look.
 * Opinionated and disabled by default.
 */

@if ($mbm-base-initialize-heading-size == true) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: inherit;
	}
}
