$mbm-base-initialize: true;

// Options
$mbm-base-initialize-box-sizing: "border-box" !default;
$mbm-base-initialize-text-rendering: "optimizedSpeed" !default;
$mbm-base-initialize-heading-size: false !default;
$mbm-base-initialize-paragraph-bottom-space: false !default;

/**
 * A modern and minimal reset
 */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

html {
	font-size: clamp(100%, calc(50% + 0.666vw), 150%);
}

*,
*::before,
*::after {
	box-sizing: #{$mbm-base-initialize-box-sizing};
}

img {
	display: block;
	vertical-align: middle;
}

img,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

td:not([align]),
th:not([align]) {
	text-align: left;
}

@if ($mbm-base-initialize-heading-size == true) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 100%;
		font-weight: inherit;
	}
}

@if ($mbm-base-initialize-paragraph-bottom-space == true) {
	p:not(:last-child) {
		margin-bottom: 1rem;
	}
} @else {
	p:not(:last-of-type) {
		margin-bottom: 1rem;
	}
}
