// Options

$mbm-utils-pull: true;

$mbm-utils-pull-namespace: "pull-" !default;
$mbm-utils-pull-zero-name: "0" !default;
$mbm-utils-pull-delimiter: $mbm-global-delimiter !default;

$mbm-utils-pull-columns: $mbm-global-columns !default;

$mbm-utils-pull-res: false !default;
$mbm-utils-pull-breakpoints: $mbm-global-breakpoints !default;

// Helper Local Variables

$mbm-utils-pull-var: $mbm-global-utilities-namespace + $mbm-utils-pull-namespace;

// pull Utilities

@each $column-size in $mbm-utils-pull-columns {
    @for $i from 1 through ($column-size - 1) {
        $margin-size: ((100 / $column-size) * $i) * 1%;

        .#{$mbm-utils-pull-var
            + $i
            + $mbm-utils-pull-delimiter
            + $column-size} {
            @include _mbm-directional-property(
                "margin",
                "right",
                $margin-size,
                true
            );
        }
    }
}

// pull Reset Class

.#{$mbm-utils-pull-var + $mbm-utils-pull-zero-name} {
    @include _mbm-directional-property("margin", "right", 0, true);
}

// pull Responsive Utilities

@if ($mbm-utils-pull-res == true) {
    @each $breakpoint-name, $breakpoint-size in $mbm-utils-pull-breakpoints {
        @media #{$breakpoint-size} {
            @each $column-size in $mbm-utils-pull-columns {
                @for $i from 1 through ($column-size - 1) {
                    $margin-size: ((100 / $column-size) * $i) * 1%;

                    .#{$mbm-utils-pull-var
                        + $i
                        + $mbm-utils-pull-delimiter
                        + $column-size
                        + $mbm-global-breakpoint-separator
                        + $breakpoint-name} {
                        @include _mbm-directional-property(
                            "margin",
                            "right",
                            $margin-size,
                            true
                        );
                    }
                }
            }

            // pull Reset Class

            .#{$mbm-utils-pull-var
                + $mbm-utils-pull-zero-name
                + $mbm-global-breakpoint-separator
                + $breakpoint-name} {
                @include _mbm-directional-property("margin", "right", 0, true);
            }
        }
    }
}
