// Options

$mbm-utils-push: true;

$mbm-utils-push-namespace: "push-" !default;
$mbm-utils-push-zero-name: "0" !default;
$mbm-utils-push-delimiter: $mbm-global-delimiter !default;

$mbm-utils-push-columns: $mbm-global-columns !default;

$mbm-utils-push-res: false !default;
$mbm-utils-push-breakpoints: $mbm-global-breakpoints !default;

// Helper Local Variables

$mbm-utils-push-var: $mbm-global-utilities-namespace + $mbm-utils-push-namespace;

// Push Utilities

@each $column-size in $mbm-utils-push-columns {
    @for $i from 1 through ($column-size - 1) {
        $margin-size: ((100 / $column-size) * $i) * 1%;

        .#{$mbm-utils-push-var
            + $i
            + $mbm-utils-push-delimiter
            + $column-size} {
            @include _mbm-directional-property(
                "margin",
                "left",
                $margin-size,
                true
            );
        }
    }
}

// Push Reset Class

.#{$mbm-utils-push-var + $mbm-utils-push-zero-name} {
    @include _mbm-directional-property("margin", "left", 0, true);
}

// Push Responsive Utilities

@if ($mbm-utils-push-res == true) {
    @each $breakpoint-name, $breakpoint-size in $mbm-utils-push-breakpoints {
        @media #{$breakpoint-size} {
            @each $column-size in $mbm-utils-push-columns {
                @for $i from 1 through ($column-size - 1) {
                    $margin-size: ((100 / $column-size) * $i) * 1%;

                    .#{$mbm-utils-push-var
                        + $i
                        + $mbm-utils-push-delimiter
                        + $column-size
                        + $mbm-global-breakpoint-separator
                        + $breakpoint-name} {
                        @include _mbm-directional-property(
                            "margin",
                            "left",
                            $margin-size,
                            true
                        );
                    }
                }
            }

            // Push Reset Class

            .#{$mbm-utils-push-var
                + $mbm-utils-push-zero-name
                + $mbm-global-breakpoint-separator
                + $breakpoint-name} {
                @include _mbm-directional-property("margin", "left", 0, true);
            }
        }
    }
}
