// Options
$mbm-base-initialize-box-sizing: "border-box" !default;
$mbm-base-initialize-text-rendering: "optimizedSpeed" !default;
$mbm-base-initialize-heading-size: true !default;
$mbm-base-initialize-paragraph-bottom-space: true !default;

@import "../modules/mbm-base-initialize/base.initialize";
