$mbm-settings-core: true;

// Enable/Disable rtl global
$mbm-global-rtl: false !default;

// Define the global namespaces
$mbm-global-objects-namespace: "o-" !default;
$mbm-global-components-namespace: "c-" !default;
$mbm-global-utilities-namespace: "u-" !default;

// Define the amount of columns
$mbm-global-columns: 1, 2, 3, 6 !default;

// Define the global gap spacing size
$mbm-global-gap-default: 16px;

// Defines default breakpoints
$mbm-global-breakpoints: (
	sm: "screen and ( min-width: 768px )",
	md: "screen and ( min-width: 1000px )",
) !default;

// Defines the default breakpoint separator
$mbm-global-breakpoint-separator: \@ !default;

// Defines the default delimiter for Size, Push and Pull utilities
$mbm-global-delimiter: \/ !default;
